<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
      <title>Garhammar</title>
      <meta name="description" content=""/>
      <meta name="google" content="notranslate" />
      <meta name="keywords" content="" />
      <link href='https://fonts.googleapis.com/css?family=Oswald:700,300%7COld+Standard+TT:400italic%7CMuli:300' rel='stylesheet' type='text/css'>
      <link href="<%- css %>" rel="stylesheet" type="text/css">
      <script>
        window.consi = {};
      </script>
      <link rel="shortcut icon" href="images/favicon.ico">
  </head>

  <body>
    <div id="main"><%- markup %></div>
    <script async src="<%- js %>"></script>
  </body>

</html>