html {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  line-height:1.2;
  color: #222;
  @include tablet {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h2,
h3,
h4 {
  font-weight: 300;
  font-size: 2rem;
}

h3,
h4 {
  font-size: 1rem;
}

em {
  font-family: 'Old Standard TT', serif;
  letter-spacing: -0.06rem;
}

h1 em {
  letter-spacing: -0.1rem;
}

.sub-header,
.note {
  font-family: 'Old Standard TT', serif;
  letter-spacing: -0.06rem;
  font-size: 1.25rem;
}

.small {
  font-size: 0.75rem;
}

.large {
  font-size: 1.25rem;
}


//
// h1,
// h2 {
//   font-family: 'Abril Fatface', cursive;
//   font-size: 2.6rem;
//   line-height: 2.6rem;
//   margin: 20px 0 10px 0;
//   @include tablet {
//     font-size: 3rem;
//     line-height: 3rem;
//   }
// }
//
//
//
// .note,
// header p {
//   font-family: 'Wire One', sans-serif;
//   font-size: 1.4rem;
//   letter-spacing: 0.06rem;
//   line-height: 1.5rem;
// }
//
// body {
//   font-family: 'Muli', sans-serif;
//   font-size: 0.8rem;
//   margin: 0;
//   background-color: #fff;
//   @include tablet {
//   }
// }